body{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
main{
    display: flex;
    flex-wrap: nowrap;
}
aside{
    flex: 1;
    padding: 20px;
    background-color: #ccc;
}
footer{
    font-size: x-large;
    color:black
    padding: 20px;
    text-align: center;
}
footer:hover{
    animation: animate 2.5s ease-in-out infinite alternate;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}